
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-lg-5">
    <h1 class="h1 mb-0 text-gray-900">ADMINISTRACION SISTEMA DE CONTROL</h1>
</div>
<!-- Content Row -->
<div class="row">
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-4">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-lg font-weight-bold text-info text-uppercase mb-4">
                            TOTAL DE LIBROS
                        </div>
                        <div class="h4 mb-0 font-weight-bold text-gray-800 text-center" id="div_libros">0</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-book fa-4x text-info"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-dark shadow h-100 py-4">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-lg font-weight-bold text-dark text-uppercase mb-4">
                            CANTIDAD DE USUARIOS
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800 text-center" id="div_lectores">0</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-users fa-4x text-dark"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-4">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-lg font-weight-bold text-info text-uppercase mb-4">
                            VENTAS
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800 text-center" id="div_Ventas">0</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-box-open fa-4x text-info"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-dark shadow h-100 py-4">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-lg font-weight-bold text-dark text-uppercase mb-4">
                            RESERVAS
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800 text-center" id="div_pendientes">0</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-address-book fa-4x text-dark"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
<script>

        $(document).ready(function () {

            jQuery.ajax({
                url: '@Url.Action("ListarLibro", "Biblioteca")',
                type: "GET",
                data: null,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    if (data.data != null) {
                        $("#div_libros").text(data.data.length)

                    } else {
                        $("#div_libros").text("0");
                    }
                },
                error: function (error) {
                    console.log(error)
                },
                beforeSend: function () {

                },
            });

            jQuery.ajax({
                url: '@Url.Action("ListarUsuario", "Biblioteca")',
                type: "GET",
                data: null,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data.data != null) {
                        var a = data.data.filter(item => item.oTipoUsuario.IdTipoUsuario == 3)
                        $("#div_lectores").text(a.length)

                    } else {
                        $("#div_lectores").text("0");
                    }
                },
                error: function (error) {
                    console.log(error)
                },
                beforeSend: function () {

                },
            });

            jQuery.ajax({
                url: '@Url.Action("Listar", "Venta")' + "?idestadoVenta=0&idUsuario=0",
                type: "GET",
                data: null,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    if (data.data != null) {
                        $("#div_Ventas").text(data.data.length)

                    } else {
                        $("#div_Ventas").text("0");
                    }
                },
                error: function (error) {
                    console.log(error)
                },
                beforeSend: function () {

                },
            });

            jQuery.ajax({
                url: '@Url.Action("Listar", "Venta")' + "?idestadoVenta=0&idUsuario=0",
                type: "GET",
                data: null,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    if (data.data != null) {
                        var a = data.data.filter(item => item.oEstadoVenta.IdEstadoVenta == 1)
                        $("#div_pendientes").text(a.length)

                    } else {
                        $("#div_pendientes").text("0");
                    }
                },
                error: function (error) {
                    console.log(error)
                },
                beforeSend: function () {

                },
            });

        })


</script>
}